# Dependencies
node_modules/
.pnp/
.pnp.js
package-lock.json
yarn.lock

# Testing
coverage/

# Production
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Cache and logs
.npm/
.cache/
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Web Workers (React)
src/workers/*.js

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
